<!DOCTYPE html>
<html lang="en-au">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safety Discussions</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fabric-css")
    @Styles.Render("~/Content/css")

</head>
<body>
    <div data-reactroot="" class="ms-Fabric ms-font-m">

        <div class="ms-Fabric ms-font-m ms-App ms-App--xxxLarge">

            <div class="ms-App-header">
                <div>
                    <div class="Header">
                        <a href="/">
                            <div class="Header-title ms-font-xl ms-fontColor-white">
                                <i class="ms-Icon ms-Icon--OfflineOneDriveParachute"></i>
                                &nbsp;Safety Discussions
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="ms-App-content">
                @RenderBody()
            </div>

        </div>

    </div>
    @Scripts.Render("~/bundles/react")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
